
obj/Debug/net8.0/project.razor.vs.bin
obj/Debug/net8.0/MVC-CORE.RazorAssemblyInfo.cs
obj/Debug/net8.0/MVC-CORE.RazorAssemblyInfo.cache
obj/Debug/net8.0/MVC-CORE.GlobalUsings.g.cs
obj/Debug/net8.0/MVC-CORE.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/MVC-CORE.csproj.AssemblyReference.cache
obj/Debug/net8.0/MVC-CORE.assets.cache
obj/Debug/net8.0/MVC-CORE.AssemblyInfoInputs.cache
obj/Debug/net8.0/MVC-CORE.AssemblyInfo.cs
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
.vs/MVC-CORE/FileContentIndex/5b511787-35c9-4d83-89dd-319998cc291c.vsidx
*.vsidx
