################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
# Visual Studio files
.vs/
obj/
bin/
*.vsidx

# Rider IDE files
.idea/

# Build results
*.dll
*.exe
*.pdb
*.log
*.json
*.xml
*.swp
*.cache
*.targets
*.props

# Publish output
# /wwwroot/

# Other files
Thumbs.db
*.cache
*.bak
*.DS_Store
*.bak
*.testlog
*.manifest
*.user
*.AssemblyInfo.cs